.infoBlock {
	/* min-width: calc((100% - 16px) / 2); */
	/* width: 268px; */
	width: calc((100% - 32px) / 2);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 32px;
	column-gap: 16px;
}

.navigateTitle {
	color: var(--black);

	font-family: var(--second-family);
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -4%;
	text-align: left;
}
.listInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 24px;
}
.infoLink {
	color: var(--black);

	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -3%;
	text-align: left;
}
@media screen and (min-width: 768px) {
	.infoBlock {
		min-width: calc((100% - 48px) / 3);
		/* width: 268px; */
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 40px;
	}
}
@media screen and (min-width: 1280px) {
	.infoItem .hoverItem {
		display: inline-block;
		transform: scale(1);
		transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.infoItem:hover .hoverItem {
		transform: scale(1.04);
	}
}
