.gallerySwiper {
	padding-top: 120px;
	padding-bottom: 120px;
}
.sliderContainer {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.headBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	margin-bottom: 40px;
}
.title {
	color: var(--black);
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -4%;
}

.laptopPagination,
.mobPagination {
	width: 106px;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.mobPagination {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}
.navButton {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	border: 1px solid var(--border-disabled-color);
	border-radius: 8px;
	background: var(--white);
}
.navButton_icon {
	width: 16px;
	height: 16px;
	stroke: var(--black);
	fill: none;
	transform: rotate(-90deg);
}
.right {
	transform: rotate(90deg);
}
.laptopPagination {
	display: none;
}
@media screen and (min-width: 768px) {
	.sliderContainer {
		padding-left: 34px;
		padding-right: 34px;
	}
	.mobPagination {
		display: none;
	}
	.laptopPagination {
		display: flex;
	}
}
