.gallerySwiper {
	padding-top: 120px;
	padding-bottom: 120px;
}

.sliderContainer {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.slide {
	height: auto;
	display: flex;
	width: calc(100% - 12px);
}

.headBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	margin-bottom: 40px;
}

.title {
	color: var(--black);
	font-weight: 700;
	line-height: 120%;
	letter-spacing: -4%;
}

.laptopPagination,
.mobPagination {
	width: 106px;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.mobPagination {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}

.navButton {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid var(--border-disabled-color);
	border-radius: 8px;
	background: var(--white);
	cursor: pointer;
}

.navButton_icon {
	width: 16px;
	height: 16px;
	stroke: var(--black);
	fill: none;
	transform: rotate(-90deg);
	transition: transform 0.15s ease; /* плавність */
}
.navButton:hover .navButton_icon {
	stroke: var(--border-disabled-color);
}
/* Анімація при натисканні */
/* Додатковий клас для правої кнопки */
.right {
	transform: rotate(90deg); /* наприклад, для правої кнопки, замінює базовий */
}

/* Ефект збільшення при натисканні для всіх іконок */
.navButton:active .navButton_icon {
	transform: scale(0.7) rotate(-90deg); /* для лівої кнопки */
}

.navButton:active .navButton_icon.right {
	transform: scale(0.7) rotate(90deg); /* для правої кнопки */
}

.right {
	transform: rotate(90deg);
}

.laptopPagination {
	display: none;
}

/* MOBILE */
@media screen and (max-width: 767px) {
	.slide {
		width: 100% !important;
	}
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.slide {
		width: calc(50% - 5px) !important;
	}
}

@media screen and (min-width: 768px) {
	.sliderContainer {
		padding-left: 34px;
		padding-right: 34px;
	}

	.mobPagination {
		display: none;
	}

	.laptopPagination {
		display: flex;
	}
}

/* DESKTOP WIDTHS */
@media screen and (min-width: 1280px) {
	.slide25 {
		width: 25% !important;
	}

	.slide30 {
		width: 30% !important;
	}

	.slide45 {
		width: calc(45% - 45px) !important;
	}
}
