.worksSection {
  padding-top: 110px;
}
.worksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.title {
  color: var(--black);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -4%;
}

.worksList {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.worksItem {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  border: 1px solid rgba(217, 214, 227, 1);
  border-radius: 16px;
}

.imageWrapper {
  width: 100%;
  /* max-height: 300px; */
  aspect-ratio: 328 / 300;
  border-radius: 16px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
.image {
  /* object-fit: contain;
	height: 100%;
	width: auto; */
  max-height: 300px;
  object-fit: cover; /* обрізає краї, але заповнює блок */
  object-position: center;
}
.cardDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 0px 0px 16px 16px;
}
.titleItem {
  color: var(--black);

  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -4%;
  text-align: left;
}
.description {
  color: var(--black);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-align: left;
}

.btnMore {
  width: 160px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 0px 12px 0px;

  box-sizing: border-box;
  border: 1px solid var(--border-disabled-color);
  border-radius: 8px;

  color: var(--brand);

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.iconBlock {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnIcon {
  width: 12px;
  height: 12px;
  stroke: var(--brand);
}
@media screen and (min-width: 768px) {
  .worksList {
    justify-content: flex-start;
  }
  .worksItem {
    width: calc((100% - 40px) / 3);
    height: 490px;
  }
  /* .image,
  .imageWrapper {
    min-height: 300px;
  } */
}
@media screen and (min-width: 1280px) {
  /* .worksItem {
    width: calc((100% - 60px) / 4);
  } */
  .image,
  .imageWrapper {
    min-height: 280px;
    max-height: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .worksItem {
    width: calc((100% - 60px) / 4);
  }
  .image,
  .imageWrapper {
    min-height: 300px;
  }
}
