.mobWrapper {
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 16px 40px;
	gap: 80px;
}
.mobTopBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 80px;
}
.mobHeader {
	width: 100%;
	height: 82px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 20px;
}
.closeIcon {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	color: var(--white);
	cursor: pointer;
}
