.btnOnTop {
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	border: 1px solid var(--border-disabled-color);
	border-radius: 8px;
	background: var(--white);

	position: absolute;
	top: -145;
	right: 0;
}
.btnTopIcon {
	width: 16px;
	height: 16px;
	stroke: var(--black);
	fill: none;
}
@media screen and (min-width: 768px) {
	.btnOnTop {
		top: -170px;
	}
}
@media screen and (min-width: 1280px) {
	.btnOnTop {
		transition: stroke 0.3s cubic-bezier(0.4, 0, 0.2, 1),
			color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.btnOnTop:hover .btnTopIcon {
		stroke: var(--border-disabled-color);
		fill: none;
	}
}
