.socialBlock {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.socialAddressList,
.socialSocList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
}
.socialAddressItem {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: -0.03em;
	color: var(--white);
}
.linkIcon {
	width: 34px;
	height: 34px;
	display: flex;
}
.iconSoc {
	width: 100%;
	height: 100%;
	fill: var(--white);
}
