.contAdmServ {
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 90px 2fr 3fr 80px;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  background-color: #dedaff;
  border-radius: 24px 24px 0 0;
}
.wrappTable {
  background-color: var(--white);
}
.wrappTable input,
.wrappTable textarea {
  border: none;
}
.wrappTable input {
  max-width: 82px;
}
.button {
  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;
}
.btnAdd {
  font-family: var(--font-family);
  text-align: start;
}
.textar {
  font-family: var(--font-family);
  padding-top: 14px;
}
.descr {
  max-width: 262px;
}
