.formWrapper {
  width: calc(100% - 32px);
  max-width: 593px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  /* border: 3px solid red; */
}
@media screen and (min-width: 768px) {
  .formWrapper {
    width: 593px;
  }
}
.title {
  color: var(--white);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -4%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 24px;

  box-sizing: border-box;
  border: 1px solid var(--Border_Disabled_color, rgba(217, 214, 227, 1));
  border-radius: 16px;
  background: var(--White, rgba(255, 255, 255, 1));
}
.formTitle {
  color: var(--black);

  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
}
.blockInputs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.label {
  width: 100%;
}
.input {
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;

  box-sizing: border-box;
  border: 1px solid var(--border-disabled-color);
  border-radius: 8px;
  background: var(--background);
}
.error {
  color: red;
}

.btnSend {
  /* width: 300px; */
  width: 100%;
  max-width: 304px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background: var(--brand);

  color: var(--white);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -3%;
  text-align: left;
}
