.contAdmGall {
  animation: ani 1.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrappContF,
.wrappSec {
  background-color: var(--white);
  /* padding: 24px; */
  border: 1px solid #0000000d;
  border-radius: 24px;
}
.wrappContF {
  padding: 24px;
}
.wrappSec {
  min-width: 600px;
}
.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: 1px dashed #000000;
  border-radius: 16px;
  padding: 48px;
}
.button {
  background-color: var(--brand);
  padding: 15.5px;
  color: var(--white);
  width: 462px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  cursor: pointer;
}
.btnUpl {
  font-size: 16px;
  font-family: var(--font-family);
}
.wrappSec {
  margin-top: 24px;
}
.head {
  display: flex;
  background-color: #dedaff;
  border-radius: 24px 24px 0 0;
  padding: 14px;
  justify-content: space-between;
}
.textF {
  padding-left: 34px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
}
.text {
  padding-right: 8px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
}
.galleryList {
  width: 100%;
  padding: 0;
  /* padding-top: 24px; */
}
.galleryItem {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0000000d;
}
.deleteButton {
  padding-left: 20px;
  border-left: 1px solid #0000000d;
}
.wrappImg {
  padding: 8px;
}
.image {
  border-radius: 8px;
  width: 78px;
  height: 78px;
}
