/* .container {
  background-image: url("/img/hero/photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 676px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    min-height: 800px;
  }
} */
.containerHero {
	padding: 16px;
	position: relative;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}
.block {
	display: flex;
	justify-content: center;
	flex-shrink: 1;
	padding-top: 76px;
	position: relative;
	z-index: 1;
}
.wrappTitle {
	/* padding-top: 185px; */
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.wrappText {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-width: 191px;
	gap: 16px;
}
.wrappText p {
	color: var(--white);
}
.title {
	/* padding-top: 185px; */
	/* max-width: 343px; */
	font-family: var(--second-family);
	font-size: clamp(32px, calc((32 / 375) * 100vw), calc((70 / 1280) * 100vw));
}
.btn {
	background-color: var(--white);
	border: 1px solid #0f0051;
	border-radius: 8px;
	padding: 12px;
	width: 100%;
}
@media screen and (max-width: 767px) {
	.title {
		max-width: 343px;
	}
}
@media screen and (min-width: 768px) {
	.containerHero {
		padding: 34px;
		gap: 0;
	}
	.block {
		justify-content: end;
		padding-top: 57px;
		/* padding-right: 34px; */
	}
	.wrappTitle {
		padding-top: 16px;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
	}
	.title {
		/* padding-top: 16px; */
		/* max-width: 520px; */
	}
	.wrappText p {
		font-size: 16px;
	}
	.wrappText {
		gap: 24px;
		/* padding-right: 12px; */
	}
}
@media screen and (min-width: 920px) {
	.wrappText {
		max-width: 304px;
		padding-right: 12px;
	}
}
@media screen and (min-width: 1270px) {
	.wrappTitle {
		position: absolute;
		bottom: 34px;
		z-index: 0;
		width: 100%;
		max-width: calc(100% - 64px);
	}
	.title {
		max-width: 876px;
		font-size: 70px;
	}
}
@media screen and (min-width: 1440px) {
	.wrappTitle {
		max-width: 1372px;
	}
}
