.slideWrapper {
  width: auto;
  overflow: hidden;
  max-width: 300px;
  align-self: flex-start;

  /* border: 1px solid blue; */
}

.sliderContent {
  /* border: 1px solid blue; */
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
  max-width: 300px;
  align-self: flex-start;
}
.imageWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 500px;
  aspect-ratio: 1 / 1; /* або 306 / 306 */
  overflow: hidden;
  align-self: flex-start;
}

.image {
  object-fit: contain;
  border-radius: 16px;
  width: auto !important;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  /* .imageWrapper {
		width: 100%;
		aspect-ratio: 306 / 360;
	} */
}
@media screen and (min-width: 1280px) {
  .sliderContent {
    flex-direction: row;
  }
  /* .imageWrapper {
		aspect-ratio: 576 / 480;
	} */
}
