.section {
  padding-bottom: 120px;
}
.reviewContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none; /* Firefox */
}

.galleryContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.firstCont {
  background-color: var(--brand-secondary);
  border-radius: 16px;
  width: clamp(284px, calc(284 / 1280 * 100vw), 502px);
  height: clamp(291px, calc(382 / 1280 * 100vw), 382px);
  min-width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 16px;
}
.title,
.text {
  color: var(--white);
}
.title {
  font-family: var(--second-family);
  font-size: clamp(32px, calc(40 / 1280 * 100vw), 40px);
}
.text,
.textRev {
  font-family: var(--font-family);
  font-size: clamp(16px, calc(20 / 1280 * 100vw), 20px);
}
.contText {
  /* min-height: 160px; */
  min-height: clamp(150px, calc(236 / 1280 * 100vw), 236px);
  display: flex;
  align-items: end;
}

.textRev {
  /* padding-top: clamp(58px, calc((58 / 375) * 100vw), calc((97 / 1280) * 100vw));
  padding-top: 50px; */
  line-height: 1.4;
  letter-spacing: -3%;
  padding-bottom: 14px;
}
.list {
  display: flex;
  gap: 20px;
}
.card {
  background-color: var(--white);
  padding: 24px;
  border: 1px solid #d9d6e3;
  border-radius: 16px;
  min-width: 328px;
  height: clamp(291px, calc(382 / 1280 * 100vw), 382px);
}
.wrapp {
  border-top: 1px solid #d9d6e3;
  padding-top: 14px;
  display: flex;
  gap: 14px;
  justify-content: flex-start;
}
.authorWrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.author {
  font-size: 16px;
  font-weight: 600;
}
/* .imageWrapper {
  width: 100%;
} */
.navButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--border-disabled-color);
  border-radius: 8px;
  background: var(--white);
  cursor: pointer;
}

.navButton_icon {
  width: 16px;
  height: 16px;
  stroke: var(--black);
  fill: none;
  transform: rotate(-90deg);
  transition: transform 0.15s ease;
}
.navButton:hover .navButton_icon {
  stroke: var(--border-disabled-color);
}

.right {
  transform: rotate(90deg);
}

.navButton:active .navButton_icon {
  transform: scale(0.7) rotate(-90deg);
}

.navButton:active .navButton_icon.right {
  transform: scale(0.7) rotate(90deg);
}

.right {
  transform: rotate(90deg);
}
.mobPagination {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
}
.img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 700px) {
  .animateList,
  .animateFirstCont,
  .animatePagination {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  .animateList {
    transform: translateX(50px);
  }
  .animateFirstCont {
    transform: translateX(-50px);
  }
  .animatePagination {
    transform: translateY(50px);
  }
  .animateList.visible,
  .animateFirstCont.visible {
    opacity: 1;
    transform: translateX(0);
  }
  .animatePagination.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 840px) {
  .contText {
    min-height: 160px;
  }
}
@media screen and (min-width: 925px) and (max-width: 1025px) {
  .contText {
    min-height: 170px;
  }
}
