.section {
  padding-bottom: 120px;
}
.reviewContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none; /* Firefox */
}

.galleryContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.firstCont {
  background-color: var(--brand-secondary);
  border-radius: 16px;
  width: clamp(284px, calc((284 / 375) * 100vw), calc((502 / 1280) * 100vw));
  height: clamp(291px, calc((291 / 375) * 100vw), calc((382 / 1280) * 100vw));
  min-width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 16px;
}
.title,
.text {
  color: var(--white);
}
.title {
  font-family: var(--second-family);
  font-size: clamp(32px, calc((32 / 375) * 100vw), calc((40 / 1280) * 100vw));
}
.text {
  font-family: var(--font-family);
  font-size: clamp(16px, calc((16 / 375) * 100vw), calc((20 / 1280) * 100vw));
}
.list {
  display: flex;
  gap: 20px;
}
.card {
  padding: 24px;
  border: 1px solid #d9d6e3;
  border-radius: 16px;
  width: 328px;
  height: clamp(291px, calc((291 / 375) * 100vw), calc((382 / 1280) * 100vw));
}
.imageWrapper {
  width: 100%;
}
.navButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--border-disabled-color);
  border-radius: 8px;
  background: var(--white);
  cursor: pointer;
}

.navButton_icon {
  width: 16px;
  height: 16px;
  stroke: var(--black);
  fill: none;
  transform: rotate(-90deg);
  transition: transform 0.15s ease;
}
.navButton:hover .navButton_icon {
  stroke: var(--border-disabled-color);
}

.right {
  transform: rotate(90deg);
}

.navButton:active .navButton_icon {
  transform: scale(0.7) rotate(-90deg);
}

.navButton:active .navButton_icon.right {
  transform: scale(0.7) rotate(90deg);
}

.right {
  transform: rotate(90deg);
}
.mobPagination {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
}
