.burgerButton {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.iconBurger {
	width: 100%;
	height: 100%;
	stroke: var(--white);
}
@media screen and (min-width: 768px) {
	.burgerButton {
		display: none;
	}
}
