.logofooter {
	color: var(--brand);

	font-family: var(--second-family);
	font-size: 41.22px;
	font-weight: 700;
	line-height: 52px;
	letter-spacing: 0%;
	text-align: left;
}
.logoSpan {
	color: var(--brand);

	font-family: var(--second-family);
	font-style: italic;
	font-size: 26.5px;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: 0%;
	text-align: left;
}
