.section {
  padding-top: 72px;
}
.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
  gap: 40px;
}
.title {
  /* font-size: 32px; */
  font-size: clamp(32px, calc((32 / 375) * 100vw), calc((40 / 1280) * 100vw));
  text-align: center;
  /* max-width: 940px; */
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin: 0 auto; */
}
.elementF,
.elementS,
.elementTh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d6e3;
  border-radius: 16px;
  height: 187px;
  font-size: clamp(16px, calc((16 / 375) * 100vw), calc((20 / 1280) * 100vw));
  /* min-width: 100%;
  max-width: 700px; */
}
.elementF span,
.elementS span,
.elementTh span {
  /* font-size: 56px; */
  font-size: clamp(56px, calc((56 / 375) * 100vw), calc((70 / 1280) * 100vw));
  font-family: var(--second-family);
  font-weight: 700;
}
@media screen and (min-width: 786px) and (max-width: 1199px) {
  .list {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
  }
  .container {
    padding: 34px;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .title {
    font-size: 40px;
  }
  .list {
    flex-direction: row;
    gap: 36px;
  }
  .elementF,
  .elementS,
  .elementTh {
    /* min-width: 200px; */
    width: 300px;
    font-size: 20px;
  }

  .elementF {
    transform: rotate(5deg);
  }
  .elementS {
    transform: rotate(-5deg);
  }
  .elementTh {
    transform: rotate(5deg);
  }
  .elementF span,
  .elementS span,
  .elementTh span {
    font-size: 70px;
  }
}
