.sectionFooter {
	padding-top: 120px;
	padding-bottom: 24px;
}

.footer {
	width: 100%;
	/* height: 390px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 48px;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 24px;
}
.logoPhrase {
	width: 100%;
	/* height: 300px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 32px;
	/* border: 3px solid red; */
}
.navigate {
	width: 100%;
	/* height: 233px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	/* border: 3px solid blue; */
	flex-wrap: wrap;
}

.copyright {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 28px;
	border-top: 1px solid var(--border-disabled-color);
}
.copyrightTitle {
	color: var(--secondary);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: -1%;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.sectionFooter {
		padding-top: 148px;
		padding-bottom: 28px;
	}
	.logoPhrase {
		width: calc(37% - 12px);
	}
	.content {
		flex-direction: row;
	}
	.navigate {
		width: calc(63% - 12px);
		gap: 40px;
		flex-wrap: nowrap;
	}
}
@media screen and (min-width: 1280px) {
	.navigate {
		gap: 28px;
	}
}
