.container {
	position: relative;
	min-height: 676px;
	height: 100%;
	overflow: hidden;
}

.container::before {
	content: "";
	position: absolute;
	inset: 0;

	background-image: url("/img/hero/photo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	opacity: 0;
	transition: opacity 1.2s ease-out;
	z-index: -1;
}

.container.loaded::before {
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.container {
		height: 100dvh;
	}
}
