.textarea {
	width: 100%;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 20px;

	box-sizing: border-box;
	border: 1px solid var(--border-disabled-color);
	border-radius: 8px;
	background: var(--background);

	/* width: 100%;
	height: 22px;
	display: flex;
	flex-direction: row;
	align-items: center;

	color: rgba(163, 163, 163, 1);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: left;
	background: inherit;
	border: none; */
}
