.containerBlock {
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  max-width: 343px;
}
.imgBlock {
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .btnDesc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .containerBlock {
    padding: 12px;
    flex-direction: column;
    max-width: 328px;
  }
  .btnMob {
    display: none;
  }
}
