.containerBlock {
	background-color: var(--white);
	border-radius: 16px;
	display: flex;
	align-items: center;
	max-width: 343px;
	padding-right: 8px;
	gap: 12px;
}
.imgBlock {
	width: 77px;
	height: 64px;
	border-radius: 8px;
	margin-left: -2px;
}
.text {
	font-size: 12px;
	letter-spacing: -0.03em;
}
.btnBlock {
	background-color: var(--brand);
	color: var(--white);
	border-radius: 8px;
	padding: 12px;
	min-width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 767px) {
	.btnDesc {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.containerBlock {
		padding: 12px;
		flex-direction: column;
		max-width: 300px;
		gap: 20px;
	}
	.imgBlock {
		margin-left: 0;
		width: 100%;
		height: 200px;
	}
	.text {
		font-size: 14px;
	}
	.btnBlock {
		width: 100%;
		max-width: 304px;
		height: 50px;
	}
	.btnMob {
		display: none;
	}
}
@media screen and (min-width: 1280px) {
	.containerBlock {
		max-width: 328px;
	}
	.imgBlock {
		margin-left: 0;
		width: 304px;
		height: 230px;
	}
	.btnBlock {
		/* transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease; */
		transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
			border 0.5s cubic-bezier(0.4, 0, 0.2, 1),
			color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	}
	.btnBlock:hover {
		border: 1px solid var(--brand);
		background: var(--white);
		color: var(--brand);
	}
}
